<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-light">
  <div class="container-fluid">
    <a class="navbar-brand mr-auto" href="">
      <img src="/assets/logo.png" />
    </a>
    <button class="navbar-toggler btn bg-dark" type="button" (click)="toggle('#collapsibleNavbar')">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <div class="navbar-nav ml-auto">
        <div class="nav-item px-2 d-flex justify-content-end">
          <a class="nav-link text-dark position-relative" href="order-details">
            <i class="fas fa-file-upload fa-lg" data-tooltip="tooltip" data-placement="bottom" title="Upload"></i>
          </a>
        </div>
        <div class="nav-item px-2 d-flex justify-content-end">
          <a class="nav-link text-dark position-relative" href="cart">
            <i class="fas fa-shopping-cart fa-lg" data-tooltip="tooltip" data-placement="bottom" title="Checkout"></i>
            <span class="badge badge-pill badge-secondary">{{getQuantity()}}</span>
          </a>
        </div>
        <div class="nav-item px-2 d-flex justify-content-end">
          <strong>
            <p class="nav-link text-dark position-relative">{{getName()}}</p>
          </strong>
        </div>
        <div class="nav-item px-2 d-flex justify-content-end">
          <a class="nav-link text-dark position-relative" (click)="logout()" href="">
            <i class="fas fa-sign-out-alt fa-lg" data-tooltip="tooltip" data-placement="bottom" title="logout"></i></a>
        </div>
      </div>
    </div>
  </div>
</nav>